<launch>
    <arg name="usb_port" default="/dev/ttyUSB0" />
    <node name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                dynamixel_ax12:
                    port_name: "$(arg usb_port)"
                    baud_rate: 1000000
                    min_motor_id: 1
                    max_motor_id: 4
                    update_rate: 40
        </rosparam>
    </node>
</launch>

