<launch>
  <arg name="debug" default="false" />
  
  <include file="$(find stackit_robot)/dynamixel_all.launch" />

  <include file="$(find stackit_robot_moveit_config)/launch/move_group.launch" />
  <include file="$(find stackit_robot_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true" />
    <arg name="debug" value="$(arg debug)" />
  </include>

</launch>
